.main {
  width: 90%;
  height: 20rem;
  border: 2px dashed #d1d5db;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  align-content: center;
}

.main:hover {
  border-color: #818cf8;
  background-color: #f9fafb;
}

.active {
  border-color: #4f46e5;
  background-color: #eff6ff;
}

.icon {
  width: 5%;
  height: auto;
}